{% extends "web/base.html" %}

{% block mainbody %}
    <div class="page-header">
        <h1>
            Batch 执行状态
        </h1>
    </div>

    {#    <button type="button" onclick="loadXMLDoc()">修改内容</button>#}

    <div class="well">
        <h4 class="smaller ">状态说明</h4>
        只显示最近的执行的flow，失败的状态会标红处理
    </div>

    <button id="btn">rudi</button>

    <input id="xxx">


{% endblock %}

{% block script %}

    <script type="text/javascript">
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFtoken", $.cookie("csrftoken"))
            }
        });

        $("#btn").click(function () {
            $.ajax({
                url: "test/post",
                type: 'POST',
                data: {
                    "vendorItemId": "vendorItemId"
                },
                success: function (data) {
                    alert(data);
                    $('#xxx').val(1000)
                }
            });
        })
    </script>


{% endblock %}